client

dev tun

proto {{ vpn_protocol }}
remote {{ server_ip }} {{ vpn_port }}

resolv-retry infinite
nobind

user nobody
group nogroup

persist-key
persist-tun

<ca>
{{ ca_crt.stdout }}
</ca>

<cert>
{{ client_crt.stdout }}
</cert>

<key>
{{ client_key.stdout }}
</key>

remote-cert-tls server

{% if vpn_dpi_bypass %}
<tls-crypt>
{{ tls_crypt.stdout }}
</tls-crypt>
{% endif %}

cipher AES-256-CBC
auth SHA512

verb 4

sndbuf 0
rcvbuf 0