port {{ vpn_port }}
proto {{ vpn_protocol }}

dev tun

ca ca.crt
cert server.crt
key server.key
dh dh.pem

server 10.8.0.0 255.255.255.0

push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 10.8.0.1"

keepalive 10 120

{% if vpn_dpi_bypass %}
tls-crypt ta.key 0
{% endif %}

cipher AES-256-CBC
auth SHA512

max-clients 10

persist-key
persist-tun

log         /var/log/openvpn/openvpn.log
log-append  /var/log/openvpn/openvpn.log

verb 4